/* ========================================
   THEME & GLOBALS
   ======================================== */

/**
 * Breakpoints (following Bootstrap UI):
 *  - sm: >= 576px
 *  - md: >= 768px
 */
:root {
  --max-width-video-category-desc: 25em;
  --pg-padding: 7vw; /* for hero-banner, video-list */
  --bg-warning: #dc3545;
}

body {
  margin: 0;
  padding: 0;
}

main {
  /* Font */
  font-family: Inter, sans-serif;
  font-variant: normal;
  font-display: swap;
}

/* ========================================
   HERO BANNER COMPONENT
   ======================================== */

.hero-banner {
  /* Visuals */
  color: white;
  border-bottom: 0.75em solid #fb4cfb;

  /* Background */
  background: radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.5),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom left,
      hsl(347, 51%, 33%) 0%,
      transparent 35%
    ),
    radial-gradient(
      circle at 30% 80%,
      hsla(348, 27%, 61%, 0.5) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at top left,
      hsla(348, 27%, 61%, 0.1) 0%,
      transparent 50%
    ),
    linear-gradient(90deg, #1d2b5b 0%, #030730 65%, #fd5fd8 100%);

  /* Layout */
  padding: 0 var(--pg-padding);
  position: relative; /* needed for ::before pseudo-child to not overflow */
  overflow: hidden;

  /* Flexbox */
  display: flex;
  flex-direction: column;
}

/**
 * Perlin noise for the hero banner: tune baseFrequency, numOctaves to taste.
 */
.hero-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.3' numOctaves='4'/%3E%3C/filter%3E%3C/svg%3E#noise");
  opacity: 0.5;
  mix-blend-mode: soft-light;
}

.header {
  margin-top: 1rem;
  font-size: 0.85em;
}

.container {
  /* Layout */
  flex-grow: 1;
  margin-bottom: 2rem;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center; /* sets video-category-info roughly halfway down */
  gap: 5vw;
}

.video-category-info {
  /* Layout */
  margin: 8rem 0;
  flex-shrink: 1; /* shrink on small screens */

  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.video-category-title {
  margin: 0;
  font-size: 2em;
  font-weight: 800;
}

.video-category-divider hr {
  width: 3em;
  color: white;
}

.video-category-desc {
  /* Visuals */
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;

  /* Layout */
  box-sizing: border-box;
  max-width: var(--max-width-video-category-desc);
}

/* ========================================
   VIDEO GRID COMPONENT
   ======================================== */

.video-list {
  /* Layout */
  margin: var(--pg-padding) 0;
  padding: 0 var(--pg-padding);
}

.repsonsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

/* ========================================
   VIDEO CARD COMPONENT
   ======================================== */

.clickable:hover {
  cursor: pointer;
}

.video-card {
  /* Layout */
  max-width: 24rem;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

.video-thumbnail > img {
  border-radius: 0.5rem;
  width: 100%; /* limit image width to video-thumbnail container */
}

.video-title {
  font-size: 1em;
  font-weight: 700;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.video-desc {
  font-size: 0.85em;
  color: #696363;
}

.video-duration {
  font-size: 0.75em;
}

.card-footer {
  /* Layout */
  margin-top: 0.25rem;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
}

/* ========================================
   VIDEO PLAYER COMPONENT
   ======================================== */

.modal-player {
  /* Visual */
  background: hsl(0, 100%, 100%, 50%);

  /* Layout */
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;

  iframe {
    border: none;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;
  }
}

/* ========================================
   TOAST NOTIFICATION COMPONENT
   ======================================== */

.toast {
  /* Visual */
  color: white;
  background-color: var(--bg-warning);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 2rem hsl(0, 0%, 0%, 0.5);

  /* Layout */
  position: fixed;
  z-index: 1;
  bottom: var(--pg-padding);
  margin: 0 var(--pg-padding);

  /* Animation */
  opacity: 0;
  transform: translateX(calc(2 * var(--pg-padding)));

  transition: opacity 100ms ease, transform 200ms ease;
}

.toast.is-visible {
  opacity: 1;
  transform: translateX(0);
}

/* ========================================
   RESPONSIVE OVERRIDES
   ======================================== */

@media (min-width: 576px) {
  .video-category-info {
    flex-shrink: 0; /* don't shrink on large screens */
  }

  .video-category-title {
    font-size: 2.5em;
  }
  .toast {
    margin: unset;
    right: var(--pg-padding);
  }
}

@media (min-width: 768px) {
  .video-category-title {
    font-size: 3em;
  }
  .video-category-desc {
    font-size: 1.25em;
  }
}

@media (min-width: 1200px) {
  .modal-player {
    position: static;
    height: auto;

    /* This is a flex-box item now */
    flex-shrink: 1; /* video should shrink, video category desc should not */
  }
}
